<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  {% include header.html %}
  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
  <script crossorigin src="https://unpkg.com/react-plotly.js@1.0.2/dist/create-plotly-component.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/bundle.js" charset="utf-8"></script>
  <!-- Including the bootstrap css via CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans" rel="stylesheet">
</body>

</html>